/* Class for body section */
body
{
  background-color: #3c45f2;
}

/* Class for page container */
.container
{
  width: 80%;
  margin: auto;
}

/* Class for page header */
header
{
  background: #0f9562;
  text-align: center;
  border-style: solid;
  border-width: thick;
}

/* Class for each site section */
.site
{
  background: #09cc9b;
  text-align: center;
  border-style: solid;
  border-width: medium;
  margin: 1%;
}

/* Class for unvisitied links */
a:link
{
  color: #1a7cdf;
}

/* Class for visited links */
a:visited
{
  color: #6558fc;
}